# Filetypes to be ignored by git
*.pyc
# Eric IDE files
*.e4p
*.pui
# Ultraedit project file
*.prj
# Eric project directory
.eric4project/
# Build directory
build/
# Build spec files
*.spec
# Log files from build
*.log
# Warning files from build
warn*.txt
# SQL directory (handled by submodule)
sql/
